flows_FINAL.json
[{"id":"2e7b6332.9ae4ac","type":"ibmiot in","z":"55e18442.aa1bac","authentication":"apiKey","apiKey":"bd65422a.10a2f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"06072002","applicationId":"","deviceType":"Krishna0607","eventType":"","commandType":"cmd","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":180,"wires":[["82e9d5f3.6334a8","d4a66271.a6a8c","68705552.46d18c","d7a2402.6d449c","7a9f4cfb.572574"]]},{"id":"82e9d5f3.6334a8","type":"function","z":"55e18442.aa1bac","name":"staffid","func":"msg.payload = msg.payload.id\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":300,"wires":[["68705552.46d18c","5acc536.69aa5ac","bfe4d5e3.f67ef8"]]},{"id":"d7a2402.6d449c","type":"function","z":"55e18442.aa1bac","name":"staffname","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["68705552.46d18c","52b4e0a4.ac424"]]},{"id":"d4a66271.a6a8c","type":"cloudant out","z":"55e18442.aa1bac","name":"","cloudant":"","database":"iotproject","service":"node-red-oitir-2021--cloudant-1625827990553-56873","payonly":true,"operation":"insert","x":320,"y":220,"wires":[]},{"id":"68705552.46d18c","type":"debug","z":"55e18442.aa1bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"5acc536.69aa5ac","type":"delay","z":"55e18442.aa1bac","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":340,"wires":[["e1caa4b.f129a58"]]},{"id":"f23787ef.6a83a8","type":"ibmiot out","z":"55e18442.aa1bac","authentication":"apiKey","apiKey":"bd65422a.10a2f","outputType":"cmd","deviceId":"06072002","deviceType":"Krishna0607","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":340,"wires":[]},{"id":"e1caa4b.f129a58","type":"function","z":"55e18442.aa1bac","name":"","func":"msg.payload = {\n    \"command\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["f23787ef.6a83a8","68705552.46d18c"]]},{"id":"bfe4d5e3.f67ef8","type":"ui_text","z":"55e18442.aa1bac","group":"7326a58d.74115c","order":11,"width":0,"height":0,"name":"","label":"Employee ID","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":420,"wires":[]},{"id":"52b4e0a4.ac424","type":"ui_text","z":"55e18442.aa1bac","group":"7326a58d.74115c","order":12,"width":0,"height":0,"name":"","label":"Employee Name","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":460,"wires":[]},{"id":"7a9f4cfb.572574","type":"function","z":"55e18442.aa1bac","name":"Date_Time","func":"msg.payload = msg.payload.date_time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["320f8e14.ebc282","68705552.46d18c"]]},{"id":"320f8e14.ebc282","type":"ui_text","z":"55e18442.aa1bac","group":"7326a58d.74115c","order":13,"width":0,"height":0,"name":"","label":"Date_Time","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":500,"wires":[]},{"id":"bd65422a.10a2f","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7326a58d.74115c","type":"ui_group","name":"CONTROL","tab":"7149ccc8.999c54","order":1,"disp":true,"width":"13","collapse":false},{"id":"7149ccc8.999c54","type":"ui_tab","name":"project","icon":"dashboard","disabled":false,"hidden":false}]